body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 10%;
}
.footer{
  position:absolute;
  height: 10%;
  bottom: 0;
  width: 100%;
  background-color: white;
}
.row{

  width: 100%;
  background-color: white;
}
.containMe{
  height: :100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left:2%;
  font-size: 3vh;
  color:#222948;
  font-family: 'Oswald', sans-serif;
  vertical-align:bottom;
}
#brand{height:100%;display: flex;align-items: center;}
#brand_phone{font-size: 1.5vh; height:100%; display: flex;align-items: center;}
#brand_email{font-size: 1.5vh; height:100%; display: flex;align-items: center;}
@media (min-width : 300px ) {@media (max-width : 768px ) {
#brand_email{
height:50%;
}
#brand_phone{
height:50%;
}
}}
#brand_email a{color:#222948;}
#brand_email a:hover{color:#4ba290;}

.box {
  margin-top:1px;
  transition: all 0.4s ease;
  animation: down-bump 0.4s ease;
  background: linear-gradient(
     white, white 50%, #222948 50%, #222948
  );
  background-size: 100% 202%;
}

.box:hover {
  background-position: 100% 100%;
  animation: up-bump 0.4s ease;
  color:white;

}

@keyframes up-bump {
  0% { padding-top: 0; }
  50% { padding-top: 0.8em; }
  100% { padding-top: 0; }
}
@keyframes down-bump {
  0% { padding-top: 0; }
  50% { padding-top: 1.2em; }
  100% { padding-top: 0; }
}
#big{
  border-radius: 50%;
  width:60vh;
  height:60vh;
  background-color:#4ba290;
  position:absolute;
  margin-left:60vh;
  margin-top:20vh;
  z-index: 1;
  /*box-shadow: 3px 3px 15px 0px #3e3e3e;*/

  /*width:26%;*/
	/*height: 500px;*/
  /*padding-top: 26%;*/
  /*margin-left:-13%;*/
  /*margin-top:-13%;*/
  }

  #small
  {
    border-radius: 50%;
    width: 20vh;
    height: 20vh;

    background-color:#4ba290;
    position:absolute;
    margin-left:45vw;
    margin-top:40vh;
    z-index: 200;

    /*height: 200px;*/
    /*display: table;
    margin: 0 auto;*/

    /*
    left:500px;
    margin-left:-5%;

    top:50%;
    margin-top:-5%;*/

  }
  .wing{
    background-image: url('../img/carlosCom2.png');
    background-size: 100%;
    /*background-color: black;*/
    width:60vh;
    height:60vh;
    position:absolute;

    margin-left:60vh;
    margin-top:20vh;
    /*margin-left:-13%;*/

    margin-top:20vh;
    z-index: 10;
    opacity: 0.8;
    filter: alpha(opacity=80);
    transition: all 0.4s ease;
  }
  @media all and (orientation:portrait) {
    #big, .wing{
      margin-left:20vw;
      width:60vw;
      height:60vw;
    }
  }
  #wing1
  {
    transform: rotate(-35deg);
  }
  #wing2
  {
    transform: rotate(-5deg);
  }
  #wing3
  {
    transform: rotate(25deg);
  }
.lbl{
  font-family: 'Oswald', sans-serif;
  font-size: 3vh;
  border-radius: 10%;
  background-color:white;
  color:#222948;
  position:absolute;
  border-bottom-width: 1vh;
  border-bottom-style: solid;
  border-bottom-color: #4ba290;
  padding: 1vh;
  box-shadow: 3px 3px 15px 0px #3e3e3e;
  opacity: 0.85;
  filter: alpha(opacity=85);

}
#ph{
  margin-top:25vh;
  margin-left:70vw;
  z-index: 210;
}
#sftwr{
  margin-top:10vh;
  margin-left:5vw;
}
#photo{
  margin-top:75vh;
  margin-left:40vw;
}
.inset{

   -moz-box-shadow:    inset 0 0 10px #A8A8A8;
   -webkit-box-shadow: inset 0 0 10px #A8A8A8;
   box-shadow:         inset 0 0 10px #3D3D3D;
   /*opacity: 0.8;
   filter: alpha(opacity=80);*/

}
