<configuration>
   <system.webServer>
     <httpProtocol>
      <customHeaders>
      <remove name="Vary"></remove>
      <add name="Vary" value="Accept-Encoding"></add>
      </customHeaders>
    </httpProtocol>
      <defaultDocument enabled="true">
         <files>
            <add value="landing.html" />
         </files>
      </defaultDocument>
   </system.webServer>
</configuration>
